.header__wrapper{
    position: absolute;
    z-index: 1;
    display: flex;
    height: 70px;
    // margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    padding: 60px;

    @media screen and (max-width: 600px) {
        padding: 40px;
    }

}

.hemburger{
    width: 50px;
  

    .lines{
        border-top: 2px #4831D4 solid;
        padding-bottom: 20px;

        @media screen and (max-width: 600px) {
            border-top: 2px #e6e5eb solid;
        }
    }

    :nth-child(2){
        border-top: 2px #4831D4 solid;
        width: 30px;
        position: relative;
        top: -3px;
        left: 19px;

        @media screen and (max-width: 600px) {
            border-top: 2px #e6e5eb solid;
        }

    }
}