*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage__wrapper {
    position: relative;
}

.homepage__flexBoxes{
    display: block;
    // margin: 0 auto;
    // align-items: center;
    
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}
.homepage__left__flexBox{
    background-color: rgb(47, 42, 83);
    flex-basis: 65.5%;
    height: auto;
    // position: relative;

    .left__flexBox__smallBoxes{
        display: flex;
        margin: 70px auto 0px;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
        color: wheat;

        @media screen and (max-width: 1024px) {
           width: 80%;
           height: auto;
           padding-bottom: 50px;
        }



        .left__smallBox{
            flex-basis: 40.5%;
            
            @media screen and (max-width: 1024px) {
                flex-basis: 45.5%;
                font-size: 0.8rem;
            }
    
        }
    
        .right__smallBox{
            flex-basis: 40.5%;
            
            @media screen and (max-width: 1024px) {
                flex-basis: 45.5%;
                font-size: 0.8rem;
            }
    
        }
    }

}

.homepage__content__wrapper{
    margin: 150px auto 0px;
    width: 60%;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
        margin: 0 auto;
        padding-top: 140px;
        width: 80%;
      }

    .homepage__stackTitle{
        font-size: 2.7rem;
        color: rgb(48, 160, 212);
        font-weight: bold;
        line-height: 3rem;
        
        @media screen and (min-width: 800px) {
            color: rgb(48, 160, 212);
            font-size: 4em;
            font-weight: 900;
            line-height: 4rem;
        }

    }

    p{
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 20px;
        line-height: 28px;
        
        @media screen and (min-width: 800px) {
            color: #ffffff;
            font-size: 1.4rem;
            font-weight: 100;
            
        }

    }
}


.homepage__right__flexBox{
    background-color: rgb(63, 158, 202);
    flex-basis: 35.5%;
    height: auto;
    position: relative;
    padding: 60px 0px;

    
    @media (max-width: 1086px) {
        padding-bottom: 0px;
        height: 70vh;
    }

    .joshua__image{
        width: 300px;
        position: relative;
        right: 125px;
        top: 130px;
        border-radius: 25px;

        @media (max-width: 1086px) {
            width: 50%;
            position: absolute;
            top: 90px;
            margin: 0 auto;
            display: none;
         }
    }
    
    .design__borderLine{
        border: white 2px solid;
        width: 300px;
        height: 290px;
        position: relative;
        bottom: 150px;
        right: 99px;
        z-index: 1;

        @media screen and (max-width: 600px) {
            width: 50%;
            left: 115px;
            position: relative;
            height: 200px;
            // bottom: 193px;
            top: -80px;
         }
    }

    .joshua__design{
        width: 150px;
        position: absolute;
        top: 100px;
        right: 240px;
        z-index: 1;

        @media screen and (max-width: 600px) {
            width: 140px;
            top: 123px;
            left: 73px;
        }
    
    }
}