.work__wrapper{
    background-color: rgb(63, 158, 202);
    height: 100vh;
    padding-top: 70px;

    @media screen and (max-width: 1024px) {
        height: auto;
        padding-bottom: 4rem;
    }
}

.work__boxWrapper{
    width: 80%;
    background-color: rgb(255,255,255);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;

    @media screen and (max-width: 1024px) {
        display: block;
        height: auto;
    }
}

.work__firstBox{
    flex-basis: 50.5%;
    padding: 6rem;

    @media screen and (max-width: 1024px) {
        padding: 2rem;
        margin: 0 auto;
     }

    h2{
        font-size: 35px;
        width: 80%;
        color: rgb(63, 158, 202);

        @media screen and (max-width: 1024px) {
           font-size: 1.9rem;
           width: 60%;
        }
    }

    p{
        font-size: 1.4rem;
        color: #4B266A;
        width: 80%;
        margin: 25px 0px 50px;

        @media screen and (max-width: 1024px) {
            font-size: 1rem;
            width: 80%;
            padding-right: 40px;
         }
    }
    .work__btn{
        border: 2px rgb(63, 158, 202) solid;
        width: 80%;
        padding: 15px;    
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(63, 158, 202);

        @media screen and (max-width: 1024px) {
           padding: 10px;
           border: 1px #4831D4 solid;
         }
    }

    .work__btn:hover{
        transition: all 3s ease-out;
        background-color: rgb(63, 158, 202);
        color: #ffffff;
    }   
}

.work__secondBox{
    flex-basis: 50.5%;
    padding: 6rem;

    @media screen and (max-width: 1024px) {
        padding: 2rem;
        margin: 0 auto;
     }

    h2{
        font-size: 35px;
        width: 80%;
        color: rgb(63, 158, 202);

        @media screen and (max-width: 1024px) {
           font-size: 1.9rem;
           width: 60%;
        }
    }

    p{
        font-size: 1.4rem;
        color: #4B266A;
        width: 80%;
        margin: 25px 0px 50px;

        @media screen and (max-width: 1024px) {
            font-size: 1rem;
            width: 80%;
            padding-right: 40px;
         }
    }
    .article__btn{
        border: 2px rgb(63, 158, 202) solid;
        width: 80%;
        padding: 15px;    
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(63, 158, 202);

        @media screen and (max-width: 1024px) {
           padding: 10px;
           border: 1px #7368b8 solid;
         }
    }

    .article__btn:hover{
        transition: all 3s ease-out;
        background-color: rgb(63, 158, 202);
        color: #ffffff;
    }
}

.work__line{
    border-left: #468fd4 2px solid;
    height: inherit;
}